<div class="container">
  <h1>トップだよ まだログインしてないよ</h1>
  <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>
  <%= link_to "ログイン画面へ", new_user_session_path, class: "btn btn-primary" %>
</div>